.snazzyBlock(@num:1) {
	width:100%*(((@single * @num) - @gutter) / @innercontainer);
}

body {
	// Built with 1160 as the inner container
	// Temporary
	@innercontainer: 1160px;

	@gutter: 30px;
	@single: (@innercontainer / 12 );
	
	// The Brand Colour
	
	/**
	* Grid Row - Sets the flex box grid row container. All items contained
	* within this div will then be controlled by the flex box functions laid out here. 
	*/
	.too {
		position: relative;
		display:flex;
		flex-direction:row;
		flex-wrap:nowrap;
		flex-flow:row;
		width:100%;
		justify-content:space-around;

		/**
		* Change how the content is justified. 
		*/
		&.spaced {
			justify-content:space-between;
		}
		&.centersavvy {
			justify-content:center;
		}
		
		/**
		*	Allows you to have inner as a sub element or linked to the 
		*	flexbox row
		**/
	}
	.too.inner,
	.inner {
		/**
		Make position relative, just in case someone decides to be absolutely non jazzy
		and place an item absolutely. E.g. a logo.
		*/
		position: relative;
		max-width:82.8571428571em;
		width:100%;
		margin:0 auto;

		/* Future version of the clearfix */
		&:after {
			display:block;
			content:'';
		}
	}

	.jazzy1 { .snazzyBlock(1); }
	.jazzy2 { .snazzyBlock(2); }
	.jazzy3 { .snazzyBlock(3); }
	.jazzy4 { 
		.snazzyBlock(4);

		&.gutter {
			margin:0 2.58620689655% 0 0;
		}
	}
	.jazzy5 { .snazzyBlock(5); }
	.jazzy6 { .snazzyBlock(6); }
	.jazzy7 { .snazzyBlock(7); }
	.jazzy8 { 
		.snazzyBlock(8); 
		&.gutter {
			margin:0 2.58620689655% 0 0;
		}
	}
	.jazzy9 { .snazzyBlock(9); }
	.jazzy10 { .snazzyBlock(10); }
	.jazzy11 { .snazzyBlock(11); }
	.jazzy12 { .snazzyBlock(12); }

	.jazzy1,
	.jazzy2,
	.jazzy3,
	.jazzy4,
	.jazzy5,
	.jazzy6,
	.jazzy7,
	.jazzy8,
	.jazzy9,
	.jazzy10,
	.jazzy11,
	.jazzy12 {
		display: block;
		float:left;

		a > img {
			width:100%;
			height:auto;
		}


		&:last-child {
			float:right;
		} 

		&:before,&:after {
			box-sizing:border-box;
		}
	}

	.width-image {
		/**
		* Look directly for the next span down
		**/
		& > span {
			width:100%;
			display: inline-block;
			vertical-align: middle;
			font: 0/0 serif;
			text-shadow:none;
			color:transparent;
			background-size: 100%;
			background-position: 50% 50%;
			background-repeat: no-repeat;
		}
	}
	/**
	* If you want a sales section on your site, be it with a text to the left and icon to the right, 
	* then you will need a milken section
	*
	* http://en.wikipedia.org/wiki/Michael_Milken
	*
	**/

	.milken {
		padding:4.1% 0 4.1% 0;

		h2 {
			font-size: (( 24 / 14 ) * 100)em;
		}

		// Choose to have a sidebox in your milken. 

	}



	// Offsets


	// Dink stlye - two incomes with no kids. 
	// fresh - cool cool. 
	// grody - really really gross
	// phat
}



// Responsive





